.add-to-cart-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.add-to-cart-btn {
  border: 1px solid #6eb449;
  background: transparent;
  color: #6eb449;
  padding: 6px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
  background: #6eb449;
  color: #fff;
  cursor: pointer;
}
