@media (max-width: 575.98px) { 
.logo-img{
    width: 60px;
    margin: 0px;
}
.search-main{
    width: auto;
}
.video-text h1{
    font-size: 24px;
}
.video-text p{

    font-size: 12px;
}
.nav-bar{
  height: 100px;
}
.video{
    margin-top: 100px;
}
.navbar-toggler:focus{
    border: none;
}
.padding-top{
    padding-top: 30px;
}
.padding-y{
    padding: 0 30px;
}
.key-feature-card img{
    width: 25%;
}
}
@media (min-width: 576px) and (max-width: 767.98px) {  } 
@media (min-width: 768px) and (max-width: 991.98px) { } 
@media (min-width: 992px) and (max-width: 1199.98px) {  }
@media (min-width: 1200px) {  } 