.nav-bar {

  z-index: 999;
  width: 100%;
  background-color: #294085;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  padding: 0;
}

.navbar {
  padding: 0 !important;
}

.navbar a {
  margin: 0 0 0 0px;
  color: #fff;
  text-decoration: none;

}

.navbar a:hover {
  margin: 0 0 0 0px;
  color: #6fb449;
  text-decoration: none;

}

.logo-img {
  width: 80px;
  margin: 0 0 0 60px;

  /* border: 1px solid white; */
  background: white;
  border-radius: 50%;
}

.navbar-collapse {
  padding-right: 60px;
}

.swiper {
  width: 100%;
  max-height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {

  width: 30px !important;
  height: 30px !important;
  border-radius: 50px !important;

  color: white;
  background-color: #6eb449;

}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px !important;
  color: #fff !important;

}



.video-container {
  position: relative;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.video {
  width: 100%;
  height: auto;
  display: block;
}

.video-text {
  position: absolute;
  left: 5%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  bottom: 20%;
  text-align: start;
}

.video-text h1 {
  font-size: 6rem;
  text-transform: uppercase;
  margin: 0;
}

.video-text p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}


.padding-top {
  padding-top: 50px;
}

.padding-horizontal {
  padding: 50px 80px 0px 80px;
}

.card-main {
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;

  overflow: hidden;
  border-radius: 13px;
  cursor: pointer;
}

.card-main img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.card-overlay h1 {
  font-size: 18px;
}

.card-main:hover .card-overlay {
  opacity: 1;
}

.card-name h3 {
  font-size: 18px;

}

.card-name p {
  font-size: 14px;

}

.heading-main-div {
  margin: auto;
}

.heading-main h1 {
  text-align: start;
  margin-bottom: 20px !important;
  text-transform: capitalize;
  font-size: 28px;
  color: #3f69e2;
  width: fit-content;
}

.organic-product img {
  width: 100%;
  border-radius: 13px;
  height: 100vh;
  object-fit: cover;
}

.organic-product-main {
  position: relative;
}

.organic-product {
  height: 100%;
}

.card-main-contents {
  position: absolute;
  width: 70%;
  display: flex;
  right: 0;
  height: 300px;
  gap: 20px;
  bottom: 00px;
  z-index: 999;
  justify-content: space-between;
}

.card-main-contents-box {
  background-color: #6eb449;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 20px;
  border-radius: 13px;

}

.organic-product-contents {}

.organic-product-contents p {
  font-size: 14px;
  margin-bottom: 0px;
  text-align: justify;
}

.card-main-contents-box h1 {
  color: white;
}

.card-main-contents-box p {
  color: white;
  font-size: 14px;
}

.view-all-button {
  text-align: end;
}

.view-all-button button {
  background: transparent;
  border-radius: 6px;
  padding: 6px 16px;
  box-shadow: none;
  font-size: 14px;
}

.view-all-buttom-main {
  margin: auto !important;
}

.header-bar {
  /* margin-bottom: 20px; */
}

.card-overlay-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-overlay-main h2 {
  font-size: 16px;
}

.card-overlay-icon img {
  width: 80%;
}

.modal-overlay-categories {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  z-index: 1000;
}

.modal-content-categories {
  background: #2b57dc;
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  text-align: center;
  transform: scale(0.7);
  opacity: 0;
  animation: scaleUp 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  to {
    transform: scale(1);
    opacity: 1;
  }
}


.modal-content-categories h1 {
  font-size: 40px;
}

.modal-content-categories button {
  background-color: transparent;
  border: none;
}

.product-collection-image {

  cursor: pointer;
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
}

.product-collection-image img:hover {
  opacity: .9;
}

.product-collection-image button {
  border: 1px solid #6eb449;
  background: transparent;
  color: #6eb449;
  padding: 6px 10px;
  border-radius: 4px;
}

.product-collection-image button:hover {
  border: 1px solid #6eb449;
  background: #6eb449;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
}

.product-collection-image h1 {
  font-size: 16px;
  margin: 0px 0px 10px 0px;

}

.product-collection-image h2 {
  font-size: 24px;
  margin: 0px 0px 10px 0px;
  color: #000;
}
.product-collection-image p{
  font-size: 16px;
}
.product-collection-image img {
  width: 50%;
  border-radius: 12px;
  /* background: #6fb449; */
  /* padding: 26px; */
  /* height: 330px; */
  object-fit: contain;
  margin: auto;
  /* margin-bottom: 20px; */
}


img.insta-img {
  border-radius: 13px;
}

img.youtube-img {
  border-radius: 13px;
  width: 90%;
}

.testimonial-sub-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-head-img {
  width: 40px;
  height: 40px;
  background: grey;
  border-radius: 50px;
}

.testimonial-main-div {
  border: 1px solid #000;
  padding: 20px;
  border-radius: 13px;
}

.testimonial-para p {
  font-size: 14px;
  text-align: start;
  margin: 10px 0px;
}

.icon-img img {
  width: 24px;
}


.footer-main {
  background-color: #000;
}

.footer-img {
  text-align: start;
}

.footer-img img {
  width: 80px;
  /* border: 1px solid white; */
  background: white;
  border-radius: 50%;
  margin-bottom: 8px;
}

.footer-para p {
  text-align: center;
  color: white;
  margin: 40px 100px
}

.bottom-footer {
  border-top: 1px solid grey;
  background: #000;
  padding: 25px 0px;
  text-align: center;
}

.bottom-footer p {
  margin-bottom: 0px;
  color: white;
  font-size: 10px;
}

.footer-div ul {
  padding-left: 0px;
}

.footer-div ul li {
  list-style-type: none;
  color: #fff;
  font-size: 12px;

}

.footer-div ul li img {
  margin-right: 10px;
  width: 24px;
  margin-bottom: 6px;
}

.footer-div h4 {
  color: #2b57dc;
  font-size: 16px;
}


.animation-image img {
  width: 100%;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal-box {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 700px;
  opacity: 0;
  animation: scaleIn 0.3s forwards;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.modal-header h2 {

  font-size: 26px;

}

.close-btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

button.register-button {
  background-color: transparent !important;
  color: black !important;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-main {
  background-color: transparent;

  color: white;

  border: none;
  cursor: pointer;
}

.dropdown-main:hover {}

.dropdown-sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-sub-menu .nav-link {
  display: block;
  padding: 10px;
  color: #333 !important;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-sub-menu .nav-link:hover {
  background-color: #294085;
  font-size: 14px;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

.dropdown-sub-menu a:hover {}

.dropdown:hover .dropdown-sub-menu {
  display: block;
}








.what-in-full-detail-head h1{
      text-align: start;
    margin-bottom: 20px !important;
    text-transform: capitalize;
    font-size: 28px;
    color: #3f69e2;
    width: fit-content;
        font-size: clamp(2rem, 6vw, 3.5rem);
}

.farm-image{
  margin-bottom: 50px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
.myaccountbuttom{
  background: transparent;
    border-radius: 6px;
    padding: 6px 16px;
    box-shadow: none;
    font-size: 14px;
}


.five-col {
  width: 20%;
  max-width: 20%;
  flex: 0 0 auto;
}
@media (max-width: 768px) {
  .five-col {
    width: 50%;
    max-width: 50%;
  }
}
@media (max-width: 576px) {
  .five-col {
    width: 100%;
    max-width: 100%;
  }
}

.other-farm-activities{
  border: 1px solid #294085;
    padding: 30px;
}
.other-farm-activities-title{
text-align: center;
 font-size: 16px;
 color: #294085;
}


.key-features{
  background-color: #294085;
}

.key-feature-container {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
}

.key-feature-card {
  flex: 1 1 calc(25% - 20px); 
  box-sizing: border-box;
 
  padding: 15px;
  border-radius: 10px;
 
  text-align: center;
}

.key-feature-card img {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
}
.key-feature-card h3{
 color: #5caf47;
 font-size: 16px;
}


@media (max-width: 1024px) {
  .key-feature-card {
    flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 600px) {
  .key-feature-card {
    flex: 1 1 100%; 
  }
}
